:where(.sl-app, .sl-app *) {
  box-sizing: border-box;
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-feature-settings: "tnum" 1, "ss01" 1, "ss02" 1, "zero" 1, "calt" 1;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.sl-app,
.sl-app[data-theme="light"] {
  color-scheme: light;
  --sl-shadow: 0 0 0 1px  color-mix(in oklab, #00000026, #D9D9D9 25%), 0 8px 40px rgba(0, 0, 0, 0.15), 0 12px 32px -16px rgba(0, 0, 0, 0.3);;
}

.sl-app[data-theme="dark"] {
  color-scheme: dark;
  --sl-shadow: 0 0 0 1px  color-mix(in oklab, #FFFFFF2C, #3A3A3A 25%), 0 8px 40px rgba(0, 0, 0, 0.15), 0 12px 32px -16px rgba(0, 0, 0, 0.3);;
}
