.sl-app {
  
  & :where([data-sl-spacer]) {
    flex-grow: 1;
  }

  & :where([data-sl-control]) {
    align-items: center;
    background-color: var(--sl-bg-control);
    color: var(--sl-fg-elm);
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    gap: 1px;
    justify-content: flex-start;
    min-height: 2rem;
    padding: 0.25rem 0.5rem;
    position: relative;
    border-radius: var(--sl-r-control);
  }

  & :where([data-sl-label]) {
    color: var(--sl-fg-alt);
    font-size: var(--sl-fs-control);
    line-height: 1.5;
    text-align: left;
    flex-grow: 0;
    flex-shrink: 0;
    text-overflow: ellipsis;
    pointer-events: none;
    
    &[for] {
      cursor: pointer;
    }
  }

}
